* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    margin: 0 auto;
    max-width: 1500px;
    overflow-y: overlay;
    font-family: 'Raleway', sans-serif;
    background-color: $color-white;
}