.popup{
    position: absolute;
    right: 0;
    padding: 10px;
    top: 150px;
    transform: translateX(50%);
    z-index: 3;
    background-color: $color-white;
    & >button{
        @include removeDefaultButtonStyle;
        padding: 10px 20px;
        background-color: $color-green;
        color: $color-white;
        font-weight: 700;
        margin-top: 10px;
    }
}